
# Caddyfile for supabase-based applications 

#:4040 {
#  reverse_proxy adminer:8080
#  basicauth / {
#    sysadmin $2a$14$AZ.CddBYZVWOsrGbyETlMOggvu/Lfs2aos2yj48TMXuyM2XvM1Ed2
#  }
#}

:80 { 
	handle_path /pgadmin* {
		reverse_proxy adminer:8080
	}

	handle_path /admin* {
		reverse_proxy host.docker.internal:3001
	}

  handle {
		reverse_proxy host.docker.internal:3002
	}

}


# www.domain.com {
#	tls any@any.com
#	reverse_proxy host.docker.internal:3001
# }